{% extends 'index.html' %}

{% block page_content %}
{% include 'err_menus.html' %}
<form class="form-horizontal" role="form" action="{{ request.path }}" method="POST" autocomplete="off"  enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="file"> 上传课堂信息</label>
        <div class="col-sm-5">
            <input class="form-control" name="file" id="file" type="file">
        </div>
    </div>
    <div class="space-4"></div>


    <div class="clearfix form-actions">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                提交
            </button>

            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                重置
            </button>
        </div>
    </div>
</form>


{% endblock %}
